@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* 전체 배경*/
html {
  background: linear-gradient(to bottom, #84b1de, #D6F0FF); 
  height: auto !important;
}
body {
letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 전체 쉐도우 */
header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고 및 Nav Bar (최근, 즐겨찾기, 놀이터, 광고, 쪽지, 프로필) */
header #header-bar>.row {
  border: 3px solid #004bfc;
}

/* 헤더 배너 트게더 도게더 로고 설정 */
header .row>div:nth-child(1)>a {
  display: block;
  width: 200px;
  height: 70px;
  background: url(http://files.cloud.naver.com/DOHYEON/%EB%8F%84%EA%B2%8C%EB%8D%94dgd.png?userid=av0417&useridx=240212&NDriveSvcType=NHN%2FND-NPHOTO%20Ver%202.0) no-repeat;
  background-size: auto 70px;
}

header .row>div:nth-child(1)>a>img {
  display: block;
  filter: grayscale(100%);
  opacity: 0;
}

/* 트게더 검색창 보더 */
header #right-search-form>input[type='text'] {
  border: 3px solid #005bfc;
}

/* 트게더 검색창 버튼 */
header #right-search-form>#right-search-btn {
  color: #005bfc;
}

/* 좌측 메뉴 (트게더 전체메뉴, 유용한링크, 트위치 스케쥴) */
#main .menu-wrapper>.header {
  background: #005bfc;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: #D4F4FA;
}

.fa-square:before {
  color: #081a53;
}

/* 상단 Nav Bar, 좌측메뉴, 메인블록 */
header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  border-top: 3px solid #c4deff;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

/* 좌측메뉴 */
#main .menu-wrapper {
  border: none;
}

/* 헤더 광고 배경색 */
header #header-bar #header-top-notice strong.notice-badge {
  background: #005bfc;
}

/* 헤더 favicon 아이콘 색상 */
header #header-bar .fa {
  color: #005bfc;
}

/* 메인블록 상단 정보 (즐겨찾기, 프로필, 채널, 클립) */
#board-info #board-info-bottom a {
  color: #005bfc;
}

/* 좌측메뉴 숏컷링크 색상 (A B H O P W Q T N E) */
#main .menu-wrapper>a>em {
  color: #9ecfff;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */
#main .menu-wrapper .spacer {
  background: #84b1de;
  height: 0.2em;
}

/* 게시글 관련부분 */
/* 메인블록 상단 메뉴 전체 설정*/
#article-list #article-list-category {
  border-top: 3px solid #007bfc;
 background: #eaf2ff;
  margin-top: 1.8em;
}

/* 메인블록 상단 메뉴 좌측(홈 자유게시판 클립노트 DM 게임추천 팬아트,짤) */
#article-list #article-list-category>a {
  background: #eaf2ff;
}

/* 메인블록 공지 색상 설정*/
#article-list>.article-list-row.notice {
 background-color: #eaf2ff;
}
/* 메인블록 공지 마우스 올릴 때 색상 설정*/
#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {
 background-color: #def2ff !important;
}

/* 글 목록 추천 수 */
#article-list>.article-list-row>.item>.list-header>span {
  background-color: #62abff;
  //border: 3px solid #007bfc;
}

/* 글 목록 댓글 수*/
#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #007bfc;
}

/* 메인블록 글쓴이 탭 너비*/
#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

/* 메인블록 글쓴이 표시 색상*/
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #005bfc;
}

/* 메인블록 하단 페이지 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #007bfc;
  border-color: #007bfc;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  background-color: #91d9f1;
  color: #FFFFFF;
}

.pagination>li>a,
.pagination>li>span {
  color: #004bfc;
}

/* 게시글 설정 */
/* 제목 아래 정보 (n일전, 댓글수 추천수, 본 횟수) */
#article-content-wrapper>.header {
  border-top: 2px solid #009bfc;
}

/* 댓글쓴이 정보*/
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #005bfc;
}
/* 게시글 정보 (게시판 | 글 제목) */
#article-info>h2 {
  font-weight: bold;
}

/* 게시판 정보 */
#article-info>h2>span.category {
  color: #005bfc !important;
}

/*게시글 댓글 정보 색상 (댓글 n개) */
#article-reply-area>.header h5 {
  color: #005bfc;
}

/* 좌측 메뉴 패딩(바깥쪽 여백) 설정 */
#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

/* 링크 색상 설정 */
a {
  color: #004bfc;
}

span.a-badge i.fa.fa-info-circle {
  color: #004bfc;
}

/* footer */
/* 게시글 밑 글 목록 */
#article-list>.article-list-row {
  border-right: none;
}

/* 인기글 아이콘 설정 */
#article-list #article-list-menu>.btn.best>.fa.fa-star:before,.btn-outline-success>i.fa.fa-thumbs-up:before,span.a-badge i.fa.fa-star:before {
    content: "\f004"
}

/* 인기글 버튼 색상 설정*/
#article-list #article-list-menu>.btn.best,.btn-outline-success {
 border-color: #2da5ff;
 color: #2da5ff;
}

/* 메인블록 내 인기글 아이콘 색상 설정*/
span.a-badge i.fa.fa-star {
 color: #9dceff;
}

/* 글 목록 하단 블록 (인기글, 1234페이지, 글쓰기) */
#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

/* 하단 도게더 내의 글 목록 검색 */
#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

/* 글 쓰기, 댓글 쓰기 버튼 */
.btn-primary {
  background: #005bfc !important;
}

/* 도게더 정보 (도현_ 순위 등등) */
#board-info {
 display:flex;
 border-right:0;
 border-radius:6px;
 overflow:inherit;
 padding:.5em em;
 background:#fff;
 height:44px;
 margin-top: .1em;
}

#board-info h1 {
 //font-size:18px;
 margin-top: .1em;
 border-bottom:0;
}

#board-info #board-info-profile-img {
 border-radius:30%;
 border:1px solid #D6F0FF;
 float:left!important;
 margin-right:10px;
 margin-top:-10px;
 height:60px;
 width:60px;
}

#board-info #viewers-area #viewers:before {
    content: "자유로운 도비 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명";
    cursor: text;
}

#board-info #viewers-area .fa-user:before {
    color: rgba(10,59,84,0);
    content: url(https://static-cdn.jtvnw.net/badges/v1/865685a0-f9a2-422e-8e7d-8970a6706481/1);
}

/* 메인블록 상단 우측 메뉴 (즐겨찾기 프로필 채널 클립) */
#board-info #board-info-bottom  {
 display:inline-block;
 padding:10px 10px 10px 20px;
 border:0;
 flex:auto;
 text-align:right;
}
